<header>
    <nav class="navbar navbar-expand-md py-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h1 class="h3 mb-0">AGREMIADOS</h1>
            </a>

            <!-- Botón para colapsar en móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <% if(!userid || user.rol==`user`){ %>
                    <li class="nav-item"><a class="nav-link" href="/eventosDisp/1">Eventos</a></li>
                    <% } %>
                    <li class="nav-item"><a class="nav-link" href="/listaEventos/1">Mis Eventos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/arte/1">Arte</a></li>
                </ul>
                <% if(userid){ %>
                    <div class="ms-md-3 d-flex align-items-center card p-2 rounded infodiv" id="logout" style="max-width: 250px;">
                        <a href="/perfil/<%= user.id %>">
                            <img src="/upload/perfiles/<%= user.fotoPerfil %>" alt="Foto de perfil" class="perfil-img" />
                        </a>
                        <div>
                            <p class="mb-0 fw-bold" id="nombreuser"><%= user.nombre %></p>
                            <% if (solicitudes.length > 0) { %>
                                <a href="/listaSolicitudes/1" class="btn btn-warning btn-sm my-1">
                                    Solicitudes (<%= solicitudes.length %>)
                                </a>
                            <% } %>
                            <p class="mb-0 text-muted small" id="tipoarte"><%= user.artesania %></p>

                            <a class="btn btn-success h-25" href="/logout">Logout</a>
                        </div>
                    </div>
                <% } else { %>
                    <div class="ms-md-3 d-flex align-items-center card p-2 rounded infodiv" id="login" style="max-width: 250px;">
                        <div>
                            <form action="/loggearse" method="post">
                                <input type="text" class="mb-0 fw-bold input-login w-100" id="nombreuser"  name="nombreuser" placeholder="Usuario" aria-label="Usuario" required>
                                <input type="password" class="mb-0 input-login w-100" id="contrauser" name="contrauser" placeholder="Contraseña" aria-label="Contrasena" required>
                                <button type="submit" class="btn btn-success">Login</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </nav>
</header>

