<%- include('./layouts/index'); %>

<body class="home">
<%- include('./layouts/header'); %>
<img src="/upload/<%= imagen.nombreimg %>"
     class="imagenpublicacion d-block mx-auto"
     style="max-width: 100%; max-height: 500px; object-fit: contain;">
<div class="col-md-12 infodiv publicacion">
    <div class="row">
        <div class="col-md-1">
            <a href="/perfil/<%= imagen.usuario %>">
                <img src="/upload/perfiles/<%= userImagen.fotoPerfil %>" alt="Foto de perfil" class="perfil-img" />
            </a>
        </div>
        <div class="col-md-4">
            <h1><%= imagen.titulo %></h1>
            <h3><%= imagen.artesania %></h3>
            <p><%= imagen.desc %></p>
        </div>
    </div>
</div>
<%- include('./layouts/footer'); %>
</body>