<%- include('./layouts/index'); %>

<body class="home">
<%- include('./layouts/header'); %>
<main class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <img src="<%= mercado.imagen %>" alt="imagen viaje" class="img-fluid">
        </div>
        <div class="col-md-7">
            <h1><%= mercado.nombre %></h1>
            <p><%= mercado.descripcion %></p>
            <p>Fecha: <%= moment(mercado.fecha).format('DD/MM/YYYY') %></p>
            <% if(userid){ %>
                <% if(mercado.capacidad>0){ %>
                    <p>Plazas disponibles: <%= mercado.capacidad %></p>
                    <% if(!apuntado){ %>
                    <p id="idviaje" style="display: none"><%= mercado.id %></p>
                    <button class="btn btn-success btn-apuntarse" id="apuntarse">Apuntarse</button>
                    <%} else {%>
                    <p>Ya estás apuntado a este evento.</p>
                    <% } %>
                <% } else { %>
                <p> No hay plazas disponibles </p>
            <% }} %>
        </div>
        <!-- Usamos el iframde de la pai de Maps Embed para mostrar la ubicacion del evento -->
        <iframe
                class="text-center infodiv mt-4"
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=<%= clave_api %>
    &q=<%= mercado.ubi_param %>">
        </iframe>
    </div>
</main>
<%- include('./layouts/footer'); %>
<script src="/scripts/infoEvento.js"></script>
</body>