<%- include('./layouts/index'); %>

<body class="home">
<%- include('./layouts/header'); %>
<div class="container mt-4 contenido-principal" id="inicio">
    <div class="row">
        <div class="col-md-1">
                <img src="/upload/perfiles/<%= usuario.fotoPerfil %>" alt="Foto de perfil" class="perfil-img" />
        </div>
        <div class="col-md-10 infodiv">
            <h3 class="titulo-pagina"><%= usuario.nombre %></h3>
            <% if (miperfil){ %>
            <div class="d-flex justify-content-between">
                <a class="btn btn-perfil" href="/formularioPerfil">Cambiar foto</a>
                <% if(usuario.rol!="admin"){ %>
            <a class="btn btn-perfil" href="/formularioImagen">Subir imagen</a>
                <%} else {%>
                    <a class="btn btn-perfil" href="/registro">Registrar admin</a>
                <% } %>
            </div>
            <%} else if (user && user.rol=="admin"){%>
                <a class="btn btn-perfil" href="/formularioSolicitud/<%= usuario.id %>">Solicitarlo</a>
            <%}%>
            <br>
            <% if (imagenes.length > 0) { imagenes.forEach(imagen => { %>
                <div class="col-10 col-md-10 col-lg-6 mb-6 align-self-center d-block w-100 publicacion">
                    <div class="card shadow-lg border-light infodiv">
                        <div class="card-body">
                            <a href="/info-arte/<%= imagen.id %>">
                                <img src="/upload/<%= imagen.nombreimg %>" class="imagencarrusel d-block w-100" alt="Imagen 3">
                            </a>
                            <blockquote class="blockquote">
                                <p class="tipo-arte"><%= imagen.artesania %></p>
                                <p class="tipo-arte"><%= imagen.desc %></p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            <% }) } else { %>
                <div class="col-10 col-md-10 col-lg-6 mb-6 align-self-center d-block w-100 publicacion">
                    <div class="card shadow-lg border-light infodiv">
                        <div class="card-body">
                            <% if(usuario.rol!="admin"){ %>
                            <p>No hay publicaciones subidas</p>
                            <%} else {%>
                                    <a class="btn btn-perfil" href="/listaEventos/1">Ver eventos</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('./layouts/footer'); %>
</body>